language: python
python:
  - 2.7
install: 
  - pip install -e .
  - pip install -r requirements.txt
services:
  - elasticsearch
script:
  - export ELASTIC_SEARCH_URL=localhost
  - flake8 .
  - python tests/manage.py test
